
/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff9c4; 
}


#main-screen {
    position: relative;
    padding: 20px;
}


.header {
    background-color: #b184f0; 
    padding: 20px;
    color: white;
}

.header .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .nav-left a, 
.header .nav-right button {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}

.header .nav-right button {
    background-color: #1b0deb; 
    border: 2px solid white;
    border-radius: 10px;
    padding: 5px 12px;
    cursor: pointer;
}

.header .nav-right button:hover {
    background-color: white;
    color: #1f2a92;
}


.main-content {
    text-align: center;
    padding: 20px 20px;
}

.main-content h1 {
    font-size: 4.7rem;
    color: #333;
}

.main-content p {
    font-size: 2.6rem;
    color: #555;
    margin-bottom: 30px;
}

.join-button button {
    background-color: #1b0deb; 
    border: 2px solid white;
    color: white;
    border-radius: 15px;
    padding: 15px 20px;  
    font-size: 1.6rem;   
    cursor: pointer;
    margin: 10px;
}

.join-button button:hover {
    background-color: #ffffff;
    color: #1b0deb; 
}


#secondary-screen {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.centered-card {
    background-color: white;
    border-radius: 15px;
    width: 400px;
    padding: 50px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.centered-card h2 {
    margin-top: 0;
    font-size: 2.2rem;
    color: #333;
    margin-bottom: 20px;
}

.centered-card p {
    font-size: 1.4rem;
    color: #555;
    margin-bottom: 30px;
}

.card-buttons button {
    background-color: #82ebf3;
    color: black;
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
    font-size: 2.0rem;
    cursor: pointer;
    margin: 10px 0;
    display: flex;
    align-items: center; 
    justify-content: center; 
    width: 100%; 
}

.card-buttons button:hover {
    background-color: #faecec;
}


.social-icon {
    width: 25px;
    height: 25px;
    margin-right: 8px;
}


.centered-card {
    background-color: white;
    border-radius: 15px;
    width: 400px;
    padding: 30px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#google-login-card, #facebook-login-card {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 9999;
}

#google-login-card h2, #facebook-login-card h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 15px;
}

#google-login-card .biohabits-section h3, #facebook-login-card .biohabits-section h3 {
    font-size: 1.8rem;
    color: #0a65ee;
    margin-bottom: 20px;
}

#google-login-card .email-input label, #facebook-login-card .email-input label {
    text-align: left;
    display: block;
    font-size: 1rem;
    color: #555;
    margin-bottom: 5px;
}

#google-login-card .email-input input, #facebook-login-card .email-input input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 15px;
    text-align: left;
}

#google-login-card .forgot-email, #facebook-login-card .forgot-email,
#google-login-card .create-account, #facebook-login-card .create-account {
    display: block;
    font-size: 0.9rem;
    color: #0a65ee;
    text-decoration: none;
    margin-bottom: 10px;
    text-align: left;
}

#google-login-card .forgot-email:hover, #facebook-login-card .forgot-email:hover,
#google-login-card .create-account:hover, #facebook-login-card .create-account:hover {
    text-decoration: underline;
}

#google-login-card .info-text, #facebook-login-card .info-text {
    font-size: 0.8rem;
    color: #777;
    margin-bottom: 20px;
}

#google-login-card .nav-btn, #facebook-login-card .nav-btn {
    background-color: #0a65ee;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 1rem;
    cursor: pointer;
    width: 100%;
}

#google-login-card .nav-btn:hover, #facebook-login-card .nav-btn:hover {
    background-color: #083d99;
}


.steps-section {
    background-color: #f5f5dc; 
    display: flex;
    justify-content: space-between;
    padding: 40px 20px;
    gap: 20px;
}


.steps-section {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.steps-section .step {
    background-color: #f9f9f9; 
    padding: 15px;
    width: 30%; 
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
}

.steps-section .step:hover {
    transform: translateY(-10px); 
}

.steps-section .step h2 {
    font-size: 32px; 
    font-weight: bold;
    color: #333; 
    margin-bottom: 10px;
    text-transform: uppercase; 
    letter-spacing: 2px; 
}

.steps-section .step p {
    font-size: px;
    color: #666; 
    line-height: 1.5; 
}

.steps-section .step h2,
.steps-section .step p {
    transition: color 0.3s ease;
}

.steps-section .step:hover h2 {
    color: #d31c1c; 
}

.steps-section .step:hover p {
    color: #555; 
}


.tracking-routines {
    text-align: center;  
    padding: 40px 20px;  
    background-color: #f4f4f4;  
}


.tracking-routines h2 {
    font-size: 28px;         
    color: #4a4a4a;          
    font-weight: bold;       
    margin-bottom: 20px;     
}


.images-container {
    display: flex;                
    justify-content: center;      
    gap: 20px;                    
    margin-top: 20px;             
}


.routine-image {
    width: 45%;                   
    height: auto;                 
    border-radius: 10px;         
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  
}


.routine-image:hover {
    transform: scale(1.05);       
    transition: transform 0.3s ease-in-out;  
}


.footer {
    background-color: #d5f7d5; 
    padding: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
}

.download-buttons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.download-button {
    display: flex;
    flex-direction: row; 
    align-items: center; 
    justify-content: center; 
    background-color: black; 
    padding: 10px;
    border-radius: 30px;
    color: white; 
    width: 180px; 
    margin: 10px;  
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.download-button:hover {
    transform: scale(1.1); 
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); 
}


.download-image {
    width: 40px; 
    height: auto;
    margin-right: 10px;
    filter: brightness(0) invert(1); 
    transition: transform 0.3s ease; 
}

.download-button:hover .download-image {
    transform: translateX(10px); 
}

.footer-links {
    margin-bottom: 35px;
}

.footer-links a {
    margin: 0 15px;
    color: #000000;
    text-decoration: underline; 
}

.footer-links a:hover {
    text-decoration: underline; 
}

.download-buttons {
    margin-bottom: 35px; 
}

.copyright {
    margin-bottom: 20px;
}

.social-media {
    display: flex;                           
    justify-content: flex-end;               
    gap: 15px;                               
    margin-top: 20px;                       
}

.social-icon {
    width: 30px;                           
    height: 30px;                           
    transition: transform 0.3s ease;         
}

.social-icon:hover {
    transform: scale(1.2);                  
}
